{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "parser": "typescript",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}